<div ng-controller="shop" class="shop">

    <div class="container">
        <div class="split horizontal">
            <div class="shopping-cart">
                <span class="font-20">
                     <span class="glyphicon glyphicon-shopping-cart"> </span> My Cary
                </span>
                <hr>
                <div ng-if="empty">
                    Your Shopping Cart is empty! <br> Start shopping now <br>
                    <img class="cart" src="../images/cart.png" alt="my mareket">
                </div>
                <div ng-if="!empty">
                    Your items:<br>
                    <div ng-repeat="item in items">
                        <div ng-include="'../shop/cartItemTemp.html'"></div>
                    </div>


                </div>
            </div>
            <!-- directive that brings the shop items -->
            <div shop-directive products-object="products" search-object="search" find-function="find(type)" choose-item-function="chooseItem(item)">
            </div>
        </div>


    </div>