.shop {
  /* Vertical */
  /* Horizontal */
}
.shop .container {
  min-height: 300px;
  position: relative;
  padding: 0;
}
.shop .split {
  display: flex;
  height: 100%;
}
.shop .split > :nth-child(1) {
  overflow: auto;
}
.shop .split > :nth-child(2) {
  flex-grow: 1;
}
.shop .split.vertical {
  flex-direction: column;
}
.shop .split.vertical > :nth-child(1) {
  resize: vertical;
}
.shop .split.horizontal {
  flex-direction: row;
}
.shop .split.horizontal > :nth-child(1) {
  resize: horizontal;
}
.shop .shopping-cart {
  background-color: #FFE4CE;
  min-width: 150px;
  padding: 2%;
}
.shop .shop {
  padding: 2%;
}
.shop .nav > li > a:focus,
.shop .nav > li > a:hover {
  background-color: #FFE4CE;
}
.shop a:focus,
.shop a:hover {
  color: black;
}
.shop a {
  color: black;
}
.shop .border-right {
  border-right: solid 3px #FFE4CE;
}
.shop hr {
  border-top: 1px solid #2D2D2D;
}
.shop .cart {
  max-width: 150px;
  align-self: auto;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .shop .split.horizontal {
    flex-direction: column;
  }
}
.shop .form-control {
  width: 70%;
  display: inline-flex;
  height: 30px;
}
.btn.product {
  white-space: pre-line;
  width: 170px;
}
.product {
  background-color: white;
  padding: 20px;
  max-width: 180px;
  height: 300px;
  margin-right: 10px;
  margin-top: 10px;
  float: left;
}
.product hr {
  margin-bottom: 0px;
}
.product img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: 90px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.product .ProductImg {
  width: 90px;
  height: 90px;
  position: relative;
  margin: auto;
}
.product span {
  text-align: center;
  overflow: none;
}
.cartItem {
  background-color: white;
  padding: 20px;
  width: 220px;
  height: 100px;
  margin-right: 10px;
  margin-top: 10px;
}
.cartItem img {
  width: 65px;
  height: 65px;
  position: relative;
  margin: auto;
}
