<div ng-controller="shop" class="shop">

    <div class="container">
        <div class="split horizontal">
            <div class="shopping-cart">
                <span class="font-20">
                     <span class="glyphicon glyphicon-shopping-cart"> </span> My Cary
                </span>
                <hr>
                <div ng-if="empty">
                    Your Shopping Cart is empty! <br> Start shopping now <br>
                    <img class="cart" src="../images/cart.png" alt="my mareket">
                </div>
                <div ng-if="!empty">
                    Your items:


                </div>
            </div>
            <div class="shop">
                <nav class="navbar-collapse collapse" role="navigation">
                    <ul class="navbar-nav nav font-16">
                        <li>
                            <a class="border-right" ng-click="milk()">Milk &amp; Eggs</a>
                        </li>
                        <li>
                            <a class="border-right" ng-click="fruit()">Vegetables &amp; Fruit</a>
                        </li>
                        <li>
                            <a class="border-right" ng-click="milk()">Meat &amp; Fish</a>
                        </li>
                        <li>
                            <a ng-click="milk()">Wine &amp; Drink</a>
                        </li>
                        <li>
                            <a>
                                <input class="form-control" type="search" id="mySearch" ng-model="search">
                                <button class="btn btn-sm></" ng-click="search()">Search</button>
                            </a>
                        </li>

                    </ul>
                </nav>
                <div ng-repeat="product in products">
                    <div ng-include="'shop/productTemp.html'"></div>
                </div>

            </div>
        </div>
    </div>


</div>