<div ng-controller="shop" class="shop">

    <div class="container">
        <div class="split horizontal">
            <div class="shopping-cart">
                <span class="font-20">
                     <span class="glyphicon glyphicon-shopping-cart"> </span> My Cary
                </span>
                <hr>
                <div ng-if="empty">
                    Your Shopping Cart is empty! <br> Start shopping now <br>
                    <img class="cart" src="../images/cart.png" alt="my mareket">
                </div>
                <div ng-if="!empty" id="cartItems">
                    <div>
                        <b class="font-18"> Your cart items:</b>
                        <button class="btn orange glyphicon glyphicon-trash float-right" ng-click="emeptyCart(items[0].cart_id._id)"></button>
                    </div>
                    <br>
                    <div ng-repeat="item in items">
                        <div ng-include="'../shop/cartItemTemp.html'"></div>
                    </div>
                    <hr>
                    <div class="float-right text-right">
                        <b>All Total: <br>
                            <span class="font-20">{{total}}
                            </span>  $
                        </b>
                        <br>
                        <button class="btn orange" ng-click="pay">
                        <a href="#!order">
                                Buy all
                        </a>
                         </button>

                    </div>

                </div>
            </div>
            <!-- directive that brings the shop items -->
            <div shop-directive products-object="products" search-object="search" find-function="find(type)" choose-item-function="chooseItem(item)">
            </div>
        </div>


    </div>