<div ng-controller="admin" class="shop admin">

    <div class="container">
        <div class="split horizontal">
            <div class="shopping-cart">
                <span class="font-18">
                         <span class="glyphicon glyphicon-save-file"> </span> Admin Control Panel
                </span>
                <button id="btnPlus" class="glyphicon btn glyphicon-plus-sign float-right font-26" ng-click=shownewProduct()></button>
                <hr>
                <div ng-show="newProduct">
                    <h3>{{title}}</h3><br>

                    <form name="productForm" class="form-signin" novalidate>

                        <!-- product name -->

                        <label class="">Product Name:</label>
                        <input type="text" name="product" ng-model="product.name" ng-value="choosen.name" ng-maxlength="30" ng-minlength="2" ng-pattern="/^[a-zA-Zא-ת 0-9]*$/" class="form-control marg-bottom" placeholder="productName" ng-required="true">
                        <div class="bg-danger" ng-show="productForm.product.$invalid && productForm.product.$touched"> Entar a valid id 4-10 digits</div>
                        <hr>

                        <!-- price -->
                        <label class="">Product Price:</label>
                        <input type="number" name="price" ng-model="product.price" ng-value="choosen.price" ng-maxlength="5" ng-minlength="1" class="form-control marg-bottom" placeholder="Price" ng-required="true">
                        <div class="bg-danger" ng-show="productForm.price.$invalid && productForm.price.$touched"> Entar a valid username </div>
                        <hr>

                        <label class="">Category:</label><br>
                        <select ng-model="product.category" name="category" class="form-control marg-bottom">
                            <option  value="">-select Catecory-</option>
                            <option ng-repeat="(key,value) in categories" ng-selected="key == choosen.category_id" value={{key}}>{{value}} </option>
                        </select>

                        <hr>
                        <label class="">Picture:</label>
                        <!-- <input type="file" id="file" name='file' onchange="angular.element(this).scope().preview_image(event)" /> -->
                        <input type="file" id="fileControl" file-model="file" onchange="angular.element(this).scope().setFile(this)" accept="image/*">

                        <b>Preview:</b><br />
                        <img ng-if="imageSrc" class="newImage" ng-src="{{imageSrc}}" /><br/>


                        <hr>
                        <div ng-if="title == 'New Product'">
                            <button class="btn btn-lg orange float-right" ng-click="submit(title)" ng-disabled="productForm.$invalid">SUBMIT</button><br>
                        </div>

                        <div ng-if="title == 'Update Product'">
                            <button class="btn btn-lg orange float-right" ng-click="submit(title)">UPDATE</button><br>
                        </div>


                    </form>
                </div>

            </div>
            <!-- directive that brings the shop items -->
            <div shop-directive products-object="products" search-object="search" find-function="find(type)" choose-item-function="chooseItem(item)">
            </div>
        </div>
    </div>


</div>