<div ng-controller="order">
    <div class="signUp-flx-container">


        <div class="signUp-flex-item no-padding">
            My Cart
            <a href="#!shop">Back to shop</a>

            <div ng-repeat="item in items">
                <div ng-include="'../order/orderTemp.html'"></div>
                <hr>
            </div>
            <br> Total price: {{total}}
        </div>



        <div class="signUp-flex-item gray2">


            <form name="orderForm" class="form-signin" novalidate>

                <h3 class="">Order:</h3>
                <hr>
                <h4 class="">Shipping details:</h4>


                <!-- city -->
                <label class="">City:</label>
                <select ng-model="order.city" class="form-control marg-bottom">
                            <option  value="">-select a city-</option>
                            <option ng-repeat="city in city" value="{{city}}">{{city}}</option>
                </select>

                <!-- street -->
                <label class="">Street:</label>
                <input type="text" name="street" ng-model="order.street" ng-maxlength="25" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9 ]*$/" class="form-control marg-bottom" placeholder="Street" ng-required="true">
                <div class="bg-danger" ng-show="orderForm.street.$invalid && orderForm.street.$touched"> Entar a valid street </div>


                <!-- date -->
                <label class="">Date:</label>
                <input type="date" name="date" ng-model="order.date" ng-maxlength="15" class="form-control marg-bottom" ng-required="true">
                <div class="bg-danger" ng-show="orderForm.date.$invalid && orderForm.date.$touched"> Entar a valid date </div>

                <hr>
                <h4 class="">Payment:</h4>

                <label class="">Credit card:</label>
                <input type="number" name="payment" ng-model="order.card" class="form-control marg-bottom" placeholder="email" ng-required="true">
                <div class="bg-danger" ng-show="orderForm.payment.$invalid && orderForm.payment.$touched"> Entar a valid credit card </div>

                <!-- order button -->
                <button class="btn btn-lg orange float-right" ng-click="order(???)" ng-disabled="LoginForm.$invalid">ORDER</button><br>
            </form>


        </div>





    </div>

</div>