<div ng-controller="order">
    <div class="signUp-flx-container">


        <div class="signUp-flex-item no-padding">
            My Cart
            <a href="#!shop">Back to shop</a>

            <div ng-repeat="item in items">
                <div ng-include="'../order/orderTemp.html'"></div>
                <hr>
            </div>
            <br> Total price: {{total}}
        </div>



        <div class="signUp-flex-item gray2">

                <div ng-if="cartNotEmpty">
                    <div ng-include="'order/orderFormTemplate.html'">
                </div>

                <div ng-if="!cartNotEmpty" ng-hide="orderDone">
                    Your shopping cart is empty <br>
                    To add items to the cart, return to the store
                    <a href="#!shop">Back to shop</a>
                    
                </div>

                <div ng-if="orderDone">
                        <div ng-include="'order/orderDone.html'">
                </div>
    
            <!-- directive that order form
            <div orderForm-directive order-object="order" card-object="card" orderButton-function="orderButton()"> -->
                

        </div>





    </div>

</div>