.gray {
  background-color: #D7D4D7;
}
.home-flx-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}
.home-flex-item {
  background-color: #E9E9E9;
  width: 31%;
  padding: 4%;
  box-sizing: border-box;
  margin-bottom: 5%;
}
.no-padding {
  padding: 0;
}
@media screen and (max-width: 600px) {
  .home-flex-item {
    width: 100%;
  }
}
