.home-main-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "login-grid about-grid statistic-grid";
}
.login-grid {
  grid-area: login-grid;
  padding: 5%;
  background-color: #A4A4A4;
  height: auto;
}
.about-grid {
  grid-area: about-grid;
  padding: 5%;
  background-color: #A4A4A4;
  height: auto;
}
.statistic-grid {
  grid-area: statistic-grid;
  padding: 5%;
  background-color: #A4A4A4;
  height: auto;
}
